.cart-dropdown-container {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;

    .empty-message {
        font-size: 18px;
        margin: 50px auto;
    }

    .cart-items {
        height: 260px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    button {
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
        align-self: center;
    }
}
